/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  position: relative;
  color: white;
  height: 100vh;

  /* background-color: #0bab7d; */
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 55, 177) 50%,
    rgb(61, 173, 228)
  );
  font-family: Arial, Helvetica, Helvetica Neue, serif !important;
  overflow-y: hidden;
}

hr {
  border-top: 1px solid rgba(251, 251, 251, 0.5);
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

h5 {
  color: #fff !important;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

svg.MuiSvgIcon-root {
  color: rgba(255, 255, 255, 0.54);
}

.loading_indicator .modal-content {
  background-color: #0bab7d;
}

.user_column.text-center {
  background-color: #1d9669 !important;
  z-index: 1;
  position: sticky !important;
  left: 0;
}

.action-column .fancy-grid-cell-inner {
  margin: 0;
}

.action-column .material-icons {
  font-size: 22px;
}

.action-column .fancy-grid-cell {
  display: flex;
  justify-content: center;
}

span.fancy-grid-tree-expander {
  float: left;
}

div.fancy-modal:not(:last-of-type) {
  display: none !important;
}

div.fancy-grid-body
  > div[style="position: absolute; z-index: 2; width: 30px; height: 30px; top: 2px; left: 2px;"] {
  display: none;
}

div.fancy-grid-body
  > div[style="position: absolute; z-index: 2; width: 30px; height: 30px; right: 4px; bottom: 0px;"] {
  display: none;
}

.non-existent {
  color: red !important;
}

.acc_click > div {
  cursor: pointer !important;
}

.display-not-visible {
  display: none !important;
}

div::-webkit-scrollbar {
  height: 10px !important;
  width: 10px !important;
}

div::-webkit-scrollbar-track {
  background-color: #f5f5f5 !important;
  border-radius: 10px !important;
}

textarea::-webkit-scrollbar {
  height: 10px !important;
}

textarea::-webkit-scrollbar-track {
  background-color: #f5f5f5 !important;
  border-radius: 10px !important;
}

div::-webkit-scrollbar-thumb:horizontal {
  background-image: linear-gradient(
    to right,
    rgb(61, 173, 228) 0%,
    rgba(0, 55, 177)
  ) !important;
  border-radius: 10px !important;
}

div::-webkit-scrollbar-thumb:horizontal:hover {
  box-shadow: rgba(0, 0, 0, 0.1) !important;
  background-image: linear-gradient(
    to right,
    rgb(61, 173, 228) 0%,
    rgba(0, 55, 177) 100%
  ) !important;
  border-radius: 10px !important;
}

div::-webkit-scrollbar-thumb:vertical {
  background-image: linear-gradient(
    to bottom,
    rgb(61, 173, 228) 0%,
    rgba(0, 55, 177) 100%
  ) !important;
  border-radius: 10px !important;
}

div::-webkit-scrollbar-thumb:vertical:hover {
  box-shadow: rgba(0, 0, 0, 0.1) !important;
  background-image: linear-gradient(
    to bottom,
    rgb(61, 173, 228) 0%,
    rgba(0, 55, 177) 100%
  ) !important;
  border-radius: 10px !important;
}

textarea::-webkit-scrollbar-thumb:vertical {
  background-image: linear-gradient(
    to bottom,
    rgb(61, 173, 228) 0%,
    rgba(0, 55, 177) 100%
  ) !important;
  border-radius: 10px !important;
}

textarea::-webkit-scrollbar-thumb:vertical:hover {
  box-shadow: rgba(0, 0, 0, 0.1) !important;
  background-image: linear-gradient(
    to bottom,
    rgb(61, 173, 228) 0%,
    rgba(0, 55, 177) 100%
  ) !important;
  border-radius: 10px !important;
}

.introjs-helperLayer {
  background-color: rgba(68, 118, 224, 0.9) !important;
}

span.fancy-grid-tree-expander.introjs-showElement {
  filter: brightness(10);
}

.fancy-grid-cell.introjs-showElement {
  background-color: #fff;
}

.valSubmitButton.introjs-showElement {
  z-index: 100000000 !important;
}

.fancy-grid-cell.introjs-showElement {
  z-index: 100000000 !important;
}

.export_file.introjs-showElement {
  background-color: #fff !important;
}

a {
  color: #007bff !important;
}

@import "./introjs-nassim.css";
